.navbar {
	box-shadow: 0px 5px 10px rgba(0,0,0,.2);
	background-color: #FFF;
	opacity: 0.8;
}


body{
	background-image: url('https://picsum.photos/1600/1600?image=1041');
    background-size: cover;
    min-height: 100vh;
} 

.container {
	padding: 15px;
}

.card {
	background-color:rgb(255, 255, 255, 0.6);
}

.dropzone {
	height: 100vh;
}

.over {
	background-color:rgb(255, 255, 255);
	opacity: 1;
	border-style: 3px dashed grey;
  }

.list-group{

	margin: 10px 10px;

}

.list-group-item{
	box-shadow: 1px 1px 0 rgba(0,0,0,.4);
	margin-bottom: 5px;
	opacity: 0.5;
}

.showDiv {
	margin: 5px;
	padding: 5px 10px;
	text-align: center;
	color: gray;
	background-color: rgb(255, 255, 255, 0.6);
	border: 2px dashed rgb(128, 128, 128, 0.8);
	height: 50px;
}
textarea{
	resize: none;
}